h1{
  text-align: center;
}
.usestate-hook, .useffect-hook, .usememo-hook, .useref-hook, .usecontext-hook, .usereducer-hook, .custom-hook{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.usestate-hook{
  background-color: aquamarine;
}
.useffect-hook{
  background-color: burlywood;
}
.usememo-hook{
  background-color: cyan;
}
.useref-hook{
  background-color: orange;
}
.usecontext-hook{
  background-color: greenyellow;
}
.usereducer-hook{
  background-color: rgb(255, 47, 113);
}
.custom-hook{
  background-color: rgb(255, 113, 47);
}


